<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<% @orders.each do |order| %>
  <% order.cards.each do |card| %>
    <%= card.menu_item.name %> x <%= card.quantity %> : <h2>Subtotal: $<%= card.total %></h2>
  <% end %>
  <%= order.subtotal %>
<% end %>
