<div class="container">
  <div class="card text-center">
    <h1>Some informations are missing!</h1>
    <h3>Could not complete order</h3>
  </div>
  <br>
  <%= link_to "Back to order", confirmation_path, class: "btn btn-info" %>
</div>
