// Place all the styles related to the shopping_carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.checkout {
  background-color: #454545;
  a {
    color:  white;
    }
  :hover{
    background-color: white;
  }
}
